@tailwind base;
@tailwind components;
@tailwind utilities;







html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(75deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4));
}

body {
  color: rbg(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
